#
project_1
*.jou
*.log
*.str
*~
*.bak
*.bak*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# incremental build directories
incremental_db

# output files
prj/altera/output_files
prj/altera/db

# output sim files
prj/altera/simulation/modelsim/maaps_digi*

# build files from petalinux
prj/xilinx/petalinux/build
